<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include ('partials/head.ejs') %>
</head>
<body>
  <%- include ('partials/header.ejs') %> 

  <section>
    <%- include ('partials/navbar.ejs') %>
    
    <article>
      <h1>Seja bem vindo!</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio adipisci ut iusto tenetur beatae, quibusdam consectetur quod hic eaque dolores sit assumenda possimus dolorum quidem, minima nostrum accusamus et odit.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore tempora cupiditate vitae soluta sapiente doloremque quas aperiam at magnam illum ex, ea tempore, minima sit repellat voluptas, reiciendis rem. Nam.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil incidunt explicabo distinctio sapiente similique fugiat accusantium, alias odio animi dolore? Architecto debitis ipsum minus beatae iste corrupti fugit quis necessitatibus?
      </p>
    </article>
  </section>

  <%- include ('partials/footer.ejs') %>
  <%- include ('partials/foot.ejs') %>
</body>
</html>

